body
  margin: unset !important

.main-layout
  display: flex
  flex-flow: row
  padding: 8px


.board
  background: #406b52
  padding: 24px
  width: max-content
  border-radius: 16px

.list-cols
  display: flex
  flex-flow: row
  gap: 8px

.column-field
  display: flex
  flex-flow: column
  gap: 8px