.field
  width: 75px
  height: 75px
  font-size: 12px
  display: flex
  flex-flow: column
  align-items: center
  justify-content: center
  border: 3px solid rgb(31 31 30 / 52%)
  border-radius: 20px
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  background: radial-gradient(circle farthest-corner at 50% 50%, rgb(69 45 21) 20.8%, rgba(0, 0, 0, 0) 60.2%)
  &__content
    display: flex

.field_over-success
  background: #597c21

.field_over-wrong
  background: #7e332a

.field_disabled
  border: unset
  background: unset
  .field__content
    display: none