.ui-button
  width: auto
  display: flex
  flex-flow: row
  align-items: center
  justify-content: center
  background: rgb(89 69 51 / 86%)
  border-radius: 12px
  border: 2px solid #b89878
  height: 40px
  max-height: 40px
  padding-left: 8px
  padding-right: 8px
  cursor: pointer
  font-family: "Cormorant Infant"
  font-size: 16px
  color: white


.ui-button:hover
  background: rgb(89 69 51 / 86%)
  border: 1px solid black

.ui-button:disabled
  background: grey
  cursor: initial

.ui-button:disabled:hover
  background: grey
  cursor: initial
  border-color: transparent!important
